@model IEnumerable<web_assignment_2020.Models.FlightSchedule>
@{
    ViewData["Title"] = "View Flight Schedule";
}
<h4 class="PageTitle">View Flight Schedule</h4>
<!-- Add a partial view to display a list of staff records
 in a tabular format. -->
<partial name="~/Views/FlightSchedule/_FlightScheduleView.cshtml" model="@Model" />