@{
    ViewData["Title"] = "Admin Main Page";
}
    <div>
        <div style="text-align: center;">
            <p>
                <img id="imgLogo" src="~/images/web-background.png"
                     style="width: 500px; height:500px;" />
            </p>
        </div>
    </div>
